*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  background-color: black;
}
.container span{
  text-transform: uppercase;
  display: block;
}
.container{
  text-align: center;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.text1{
  color: white;
  font-size: 60px;
  letter-spacing: 8px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}
.text2{
  font-size: 25px;
  letter-spacing: 4px;
  color: green;
}
@keyframes text {
  0%{
    color: black;
    margin-bottom: -30px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
